body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #273c75;
}

h1 {
  font-size: 200px;
  text-align: center;
  text-transform: uppercase;
  background: url(https://media.istockphoto.com/id/1357402730/vector/abstract-flat-colorful-hip-hop-street-art-graffiti-style-urban-calligraphy-vector.jpg?s=612x612&w=0&k=20&c=5--p_kZ-wvc3v0WabZK2GhvR7wp2hVcIQaSOi-CRjEQ=);
  -webkit-background-clip: text;
  color: transparent;
  animation: text-background 15s linear infinite;
}

@keyframes text-background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 100%;
  }
}
